* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#tablaBG {
  background-image: url(kepek/tabla_htlm_Bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
  margin: auto;
}
main {
  grid-template-areas:
    "h h h"
    "a a n"
    "f f f";
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: h;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: a;
}
nav {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-area: n;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: f;
}

#manok {
  background-image: url(kepek/manoBg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
