* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#tablaBG {
  background-image: url(kepek/tabla_htlm_Bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
  margin: auto;
  background-image: url(kepek/R.jpg);
  max-width: 800px;
  margin: auto;
}

main {
    display: grid;
  grid-template-areas:
    "h h h"
    "a a n"
    "f f f";
}
header {
  grid-area: h;
  text-align: center;
}
  

article {
  grid-area: a;
  border: solid 2px white;
}
nav {
  background-color: blue;
  grid-area: n;
  border: solid 2px white;
}
footer {
  grid-area: f;
  border: solid 2px white;
  
}
.thColor {
  color: white;
}
.block{
background-color: green;
}